

:root {
    --primary-color: #ae2efd80;
    --secondary-color: #5ee7df80;
    --other-color: #5ee7df;
    --box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);

  }

  html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-size: cover;
    margin: 0;
    background-image: linear-gradient(to right, rgba(94, 231, 223, 0.5), #b491ca80);
    background-repeat: no-repeat;
  }

  .gradient {
    background-color: #b490ca80;
    background-image: linear-gradient(to right,  #b490ca80, rgba(94, 231, 223, 0.5));
  }
  
  .gradient-custom {
    background-image: linear-gradient(to right, rgba(94, 231, 223, 0.5), #b491ca80);
    background-repeat: no-repeat;
  }

 .circle {
  width: 300px;
  height: 300px;
  line-height: 300px;
  border-radius: 50%;
  font-size: 30px;
  color: #ae2efd80;
  text-align: center;
  margin: 0 auto;
}

  h1 {
    text-align: center;
    font-family: Bellefair;
   font-size: 45px;
   font-weight: 700;
   margin-top: 70px;
   margin-bottom: 100px;
   color: var(--primary-color);
  }

  h2 {
    text-align: center;
    font-family: Montserat;
    font-size: 38px;
   color: var(--primary-color);
  }
  
  h3 {
    text-align: center;
    font-family: Bellefair;
    font-size: 20px;
    opacity: 0.7;
  }
  
  h4 {
    text-align: center;
    color: var(--primary-color);
    font-size: 20px;
  }
  p {
    padding: 20px;
    font-size: 15px;
    line-height: 1;
    text-align: center;
    color: white;
  }
  a  {
    color: #ae2efd80;
    text-decoration: none;
  }

.nav-link {
color: white !important;
}
  
  .navigation-links {
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: center;
  }
  
  .navigation-links a {
    margin: 20px;
    border-radius: 4px;
    padding: 20px 15px;
  }
  
  .contact-link {
    background: var(--primary-color);
    box-shadow: var(--box-shadow);
    color: white;
  }
  
  .about-link {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
  }
  
  .homepage-link {
    color: var(--primary-color);
    text-align: center;
    display: block;
  }
  
  .about-paragraphs {
    display: flex;
    margin: 30px 0;
  }
  
  .about-paragraphs p {
    margin: 10px;
  }
  
  .email-link {
    display: flex;
    justify-content: center;
    color: var(--primary-color);
    font-size: 28px;
    text-decoration: none;
  }
  
  .email-link:hover {
    text-decoration: underline;
  }
  .primary-link {
    border-radius: 100px !important;
    padding: 25px 18px !important;
    text-decoration: none;
    background: var(--primary-color);
    box-shadow: var(--box-shadow);
    color: #5ee7df;
    font-size: 40px;
  }
  
  
  .secondary-link {
    border-radius: 100px !important;
    padding: 10px 8px;
    text-decoration: none;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    box-shadow: var(--box-shadow);
    font-size: 40px;
  }
  
  .navbar-logo {
    width:30px;
    margin: 0;
  }

  .gradient-border-pseudo {
    position: relative;
    background: #f5f2fe;
    border-radius: 5px;
  }
  
  .gradient-border-pseudo::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -5px;
    border-radius: inherit;
    background-image: linear-gradient(45deg, #6c63ff, #f5f2fe);
  }

  .animate-character {
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #ae2efd80 0%,
    #5ee7df 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 80px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.source {
margin-left: 10px;
margin-bottom: 5px;
color: white;
line-height: 1;
}

@media (min-width: 600px) {
  
  .circle {
    width: 200px;
    height: 200px;
    line-height: 200px;
    font-size: 20px;
  }
  
  .h1 {
   font-size: 30px;
   font-weight: 400;
   text-align: center;
  }
.text-center {
  margin-top: 140px;
}
  .primary-link {
    text-decoration: none;
    background: var(--primary-color);
    box-shadow: var(--box-shadow);
    color: #5ee7df;
    font-size: 20px;
  
  }

  .secondary-link {
    text-decoration: none;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    box-shadow: var(--box-shadow);
    font-size: 20px;
  }
  .source {
    text-align: center;
    margin-top: 70px;
  }
}

@media (max-width: 600px) {
  .circle {
    width: 200px;
    height: 200px;
    line-height: 200px;
    font-size: 20px;
  }

  .animate-character {
    font-size: 60px;
  }

  .h1 {
   font-size: 30px;
   font-weight: 400;
   text-align: center;
  }
  .primary-link {
  
    border-radius: 100px !important;
    text-decoration: none;
    background: var(--primary-color);
    box-shadow: var(--box-shadow);
    color: #5ee7df;
    font-size: 15px;
  }
  .secondary-link {
    border-radius: 100px !important;
    text-decoration: none;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    box-shadow: var(--box-shadow);
    font-size: 15px;
  }

}